body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #FFFFFF;
  position: relative;
  height: fit-content;
}

* {
  outline-color: #36454F !important;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-top {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 26px;
}

.global--pre-title {
  color: #8D913A !important;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 110%;
  font-family: "Raleway", sans-serif;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 110%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 45px;
  }
}
h1 span {
  color: #8D913A;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 992px) {
  h2 {
    font-size: 35px;
  }
}
h2 span {
  color: #8D913A;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 25px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 992px) {
  h4 {
    font-size: 20px;
  }
}
h4 span {
  color: #8D913A;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

input {
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  padding: 8px 13px;
  font-size: 14px;
  color: #535353;
}
input::placeholder {
  font-size: 14px;
}

.global--form {
  background-color: #fff;
  padding: 50px 40px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.global--form h2 {
  font-weight: 500;
  font-size: 30px;
}
.global--form .form-group label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}
.global--form .form-group .form-control {
  height: 50px;
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.global--form .form-group textarea.form-control {
  height: 150px;
  padding-top: 10px;
}
.global--form .form-group .btn--primary {
  width: 100%;
  display: block;
  margin-top: 35px;
}

.btns-container {
  display: flex;
  gap: 0.8rem;
}
@media (max-width: 492px) {
  .btns-container {
    flex-direction: column;
    gap: 0.7rem;
  }
}

.top-bar {
  width: 100%;
  height: 55px;
  background-color: #8D913A;
}
.top-bar .wrapper-tp {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 5px;
}
.top-bar .wrapper-tp .services-quick-links {
  display: flex;
  align-items: center;
  gap: 1px;
}
.top-bar .wrapper-tp .services-quick-links span {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 !important;
}
.top-bar .wrapper-tp .services-quick-links a {
  color: #FDFAFA;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
  margin: 0 !important;
}
@media (max-width: 992px) {
  .top-bar .wrapper-tp .services-quick-links a {
    text-align: center;
    line-height: 100%;
  }
}
.top-bar .wrapper-tp .services-quick-links a svg {
  color: #FDFAFA;
}
.top-bar .wrapper-tp .top-bar-socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-bar .wrapper-tp .top-bar-socials a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  text-decoration: none;
  color: #FFFFFF;
}
.top-bar .wrapper-tp .top-bar-socials a .top-bar-socials--icon {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #8D913A;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 692px) {
  .top-bar .wrapper-tp .top-bar-socials a {
    margin: 0 !important;
  }
  .top-bar .wrapper-tp .top-bar-socials a span {
    display: none;
  }
}
@media (max-width: 692px) {
  .top-bar .wrapper-tp {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 692px) {
  .top-bar {
    height: 85px !important;
    position: relative;
    z-index: 9999;
  }
}

.main--cta {
  background-image: url("../../images/cta-bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
}
.main--cta .wrapper {
  padding: 112px 1rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.main--cta .wrapper p {
  max-width: 620px;
}

.global--cta {
  width: 100%;
  padding: 122px 0rem;
  background-image: url("../../images/cta-background.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 492px) {
  .global--cta {
    background-position: 60% 50%;
  }
}
.global--cta p {
  max-width: 740px;
}

.btn {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 25px;
  text-transform: capitalize;
  border: 1px solid #8D913A;
  border-radius: 8px;
  transition: 0.3s;
}
.btn--primary {
  background-color: #8D913A;
  color: #FFFFFF;
  font-weight: 500;
}
.btn--primary:hover {
  opacity: 0.85;
  color: #FFFFFF;
}
.btn--secondary {
  color: #8D913A !important;
  background-color: #FFFFFF;
}
.btn--secondary:hover {
  opacity: 0.85;
  color: #8D913A !important;
}

header {
  z-index: 999;
  position: sticky;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #D9D9D9;
}
header .wrapper {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
header .wrapper .main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .wrapper .main-logo a img {
  width: 55px;
  height: 55px;
}
header .wrapper .main-logo .line-hh {
  width: 1px;
  height: 75%;
  background-color: #D9D9D9;
}
header .wrapper .main-logo ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 0;
}
header .wrapper .main-logo ul li a {
  color: #1E1E1E;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
header .wrapper .main-logo ul li a:hover {
  color: #8D913A;
}
header .right {
  text-align: right;
}
header .right .btn {
  display: inline-block;
  margin-left: 8px;
}
@media (max-width: 1280px) {
  header .right .btn {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .header--desktop {
    display: none;
  }
}

.header--mobile {
  display: none;
  background-color: #FFFFFF;
  padding: 10px 0;
}
.header--mobile .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--mobile .mobile-logo-con {
  width: 220px;
}
.header--mobile .mobile-logo-con a img {
  width: 55px;
  height: 55px;
}
.header--mobile .mobile-menu {
  z-index: 99;
  position: fixed;
  top: 55px;
  right: 0;
  width: 240px;
  height: 100%;
  background-color: #FFFFFF;
  padding: 70px 30px;
  -webkit-transform: translate(240px, 0);
  transform: translate(240px, 0);
  transition: -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1), -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  overflow: auto;
}
.header--mobile .mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header--mobile .mobile-menu ul li {
  display: block;
  padding-bottom: 11px;
  margin-bottom: 13px;
  border-bottom: 1px solid #D9D9D9;
}
.header--mobile .mobile-menu ul li a {
  z-index: 12;
  position: relative;
  font-size: 14px;
  color: #1E1E1E;
  transition: all 300ms ease;
}
.header--mobile .mobile-menu ul li a:hover {
  text-decoration: none;
  color: #8D913A;
}
.header--mobile .mobile-menu ul li a {
  width: 100% !important;
}
.header--mobile .mobile-menu ul li .bb-a {
  color: #FFFFFF !important;
}
.header--mobile .mobile-menu ul li.has-dropdown a.has-collapse {
  position: relative;
  display: block;
}
.header--mobile .mobile-menu ul li.has-dropdown a.has-collapse:before {
  content: "\f078";
  position: absolute;
  top: 2px;
  right: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 14px;
}
.header--mobile .mobile-menu ul li.has-dropdown a.has-collapse:after {
  display: none;
  content: initial;
}
.header--mobile .mobile-menu ul li.has-dropdown ul li {
  padding: 0;
  border: 0;
}

.hamburger {
  z-index: 1234;
  position: relative;
  top: 0;
  display: inline-block;
  width: 28px;
  height: 21px;
  margin: -5px 0;
  cursor: pointer;
}
.hamburger div {
  z-index: 12;
  position: relative;
  margin-top: 9px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #8D913A;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.hamburger div:before {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #8D913A;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
}
.hamburger div:after {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #8D913A;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
}

.nav-open .mobile-menu {
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  box-shadow: 8px 79px 60px 0px rgba(22, 22, 22, 0.17);
}
.nav-open .hamburger div {
  background-color: transparent;
}
.nav-open .hamburger div:after {
  top: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-open .hamburger div:before {
  top: 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-open .main-header.fixed .hamburger div {
  background-color: transparent;
}

@media (max-width: 992px) {
  .header--mobile {
    display: block;
  }
}
@media (max-width: 1440px) {
  .header--mobile .mobile-navigation--top-nav {
    padding: 4px 0;
  }
  .header--mobile .mobile-navigation--top-nav ul li a {
    font-size: 18px;
    padding: 8px 20px;
  }
}
@media (max-width: 576px) {
  .header--mobile .mobile-navigation--top-nav {
    padding: 0;
  }
}
@media (max-width: 680px) {
  .header--mobile .mobile-navigation--top-nav ul {
    align-items: center;
  }
  .header--mobile .mobile-navigation--top-nav ul li a {
    display: block;
    padding: 8px 10px;
  }
}
@media (max-width: 540px) {
  .header--mobile .mobile-navigation--top-nav ul {
    flex-wrap: wrap;
  }
  .header--mobile .mobile-navigation--top-nav ul li {
    flex: 0 0 33.33%;
    width: 33%;
  }
  .header--mobile .mobile-navigation--top-nav ul li a {
    font-size: 16px;
    text-align: center;
    padding: 4px 10px;
    max-width: 130px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .header--mobile .mobile-navigation--top-nav ul li a {
    font-size: 16px;
    padding: 8px 15px;
  }
}
footer {
  width: 100%;
}
footer .foo--main {
  max-width: 1350px;
  margin: 0 auto;
  padding-inline: 1rem;
  padding-block: 80px;
  display: grid;
  grid-template-columns: 1fr 15% 17% 15%;
  gap: 2rem;
}
footer .foo--main .abt-us-foo h4 {
  font-size: 20px;
  color: #1E1E1E;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
footer .foo--main .abt-us-foo__txt {
  font-size: 14px;
  max-width: 520px;
  line-height: 130%;
  color: #535353;
}
footer .foo--main .abt-us-foo__inputs {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
}
footer .foo--main .abt-us-foo__inputs input {
  width: 190px;
}
footer .foo--main .abt-us-foo__inputs button {
  font-weight: 400 !important;
}
@media (max-width: 992px) {
  footer .foo--main .abt-us-foo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .foo--main .abt-us-foo__txt {
    max-width: 620px;
    text-align: center;
  }
  footer .foo--main .abt-us-foo__inputs {
    margin-top: 5px;
    margin-bottom: 2rem;
  }
}
footer .foo--main .general-links h4 {
  font-size: 20px;
  color: #1E1E1E;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
footer .foo--main .general-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .foo--main .general-links ul li a {
  color: #535353;
  font-size: 14px;
}
footer .foo--main .general-links ul li a:hover {
  color: #8D913A;
}
@media (max-width: 992px) {
  footer .foo--main .general-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .foo--main .general-links ul {
    align-items: center;
    justify-content: center;
  }
  footer .foo--main .general-links ul li a {
    text-align: center;
  }
}
@media (max-width: 992px) {
  footer .foo--main {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
footer .foo--bot {
  width: 100%;
  background-color: #8D913A;
  padding-bottom: 1.5rem;
  padding-inline: 1rem;
}
footer .foo--bot .foo--bot-social {
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px 0rem 12px 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FDFAFA;
}
footer .foo--bot .foo--bot-social__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
footer .foo--bot__copyright {
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  padding-top: 1.5rem;
}

.page--home .section--hero {
  width: 100%;
  height: 650px;
  background-image: url("../../images/home-hero-bg.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 492px) {
  .page--home .section--hero {
    background-position: 60% 50%;
  }
}
.page--home .section--hero .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.page--home .section--hero .wrapper .hm-sh-pre-title {
  color: #8D913A;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin-bottom: 6px;
}
.page--home .section--hero .wrapper h1 {
  max-width: 688px;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.page--home .section--hero .wrapper .hm-sh-txt {
  max-width: 653px;
  color: #FFFFFF;
  margin-bottom: 1.2rem;
}
.page--home .section--overview {
  padding: 112px 0;
  background-color: #FDFAFA;
}
.page--home .section--overview .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.page--home .section--overview .wrapper .hm-so-image {
  max-width: 790px;
}
.page--home .section--overview .wrapper .hm-so-image img {
  border-radius: 12px;
}
@media (max-width: 992px) {
  .page--home .section--overview .wrapper .hm-so-image {
    display: none;
  }
}
.page--home .section--overview .wrapper .hm-so-detail h2 {
  max-width: 520px;
}
.page--home .section--overview .wrapper .hm-so-detail p {
  max-width: 620px;
}
@media (max-width: 992px) {
  .page--home .section--overview .wrapper .hm-so-detail h2, .page--home .section--overview .wrapper .hm-so-detail p {
    max-width: 992px;
  }
}
.page--home .section--what-we-do {
  padding: 112px 0;
  padding-top: 80px;
}
.page--home .section--what-we-do h2, .page--home .section--what-we-do p {
  color: #1E1E1E;
}
.page--home .section--what-we-do .hm-swwd--content {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
  justify-content: space-between;
}
.page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-detail {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-detail .hm-swwd--c-detail-box {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-detail .hm-swwd--c-detail-box .hm-icon-box {
  min-width: 50px;
  min-height: 50px;
  border-radius: 6px;
  background-color: #8D913A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-detail .hm-swwd--c-detail-box__detail h3 {
  max-width: 500px;
}
.page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-detail .hm-swwd--c-detail-box__detail p {
  max-width: 512px;
}
@media (max-width: 992px) {
  .page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-detail .hm-swwd--c-detail-box__detail h3, .page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-detail .hm-swwd--c-detail-box__detail p {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-detail .hm-swwd--c-detail-box {
    gap: 1rem;
  }
}
.page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-image {
  max-width: 600px;
}
@media (max-width: 992px) {
  .page--home .section--what-we-do .hm-swwd--content {
    flex-direction: column-reverse;
  }
  .page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-image {
    max-width: 100%;
  }
  .page--home .section--what-we-do .hm-swwd--content .hm-swwd--c-image img {
    width: 100%;
  }
}
.page--home .section--why-us {
  width: 100%;
  padding: 112px 1rem;
  background-image: url("../../images/image-3.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page--home .section--why-us .hm-swu-pre-title {
  text-align: center;
  color: #FFFFFF;
}
.page--home .section--why-us h2 {
  text-align: center;
  color: #FFFFFF;
  max-width: 780px;
}
.page--home .section--why-us .hm-swu-pre-label {
  color: #FFFFFF;
  text-align: center;
  max-width: 720px;
}
.page--home .section--why-us__con {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.page--home .section--why-us__con .hm-swu-box {
  background-color: #FFFFFF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  padding: 25px 18px;
}
.page--home .section--why-us__con .hm-swu-box__icon {
  min-width: 50px;
  min-height: 50px;
  border-radius: 55px;
  background-color: #36454F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page--home .section--why-us__con .hm-swu-box__title {
  font-size: 16px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #1E1E1E;
}
.page--home .section--why-us__con .hm-swu-box__text {
  text-align: justify;
  color: #1E1E1E;
  max-width: 250px;
}
@media (max-width: 592px) {
  .page--home .section--why-us__con .hm-swu-box__text {
    max-width: 550px;
    text-align: left;
  }
}
@media (max-width: 592px) {
  .page--home .section--why-us__con .hm-swu-box {
    align-items: flex-start;
  }
}
@media (max-width: 992px) {
  .page--home .section--why-us__con {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 592px) {
  .page--home .section--why-us__con {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.page--home .section--testimonial {
  padding: 112px 0;
}
.page--home .section--testimonial .wrapper__con {
  display: flex;
  gap: 25px;
  margin-top: 3rem;
}
.page--home .section--testimonial .wrapper__con .hm-st-c-box {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.page--home .section--testimonial .wrapper__con .hm-st-c-box__stars {
  display: flex;
  gap: 1px;
  margin-bottom: 30px;
}
.page--home .section--testimonial .wrapper__con .hm-st-c-box__text {
  max-width: 580px;
  font-size: 16px;
}
.page--home .section--testimonial .wrapper__con .hm-st-c-box__info {
  margin-top: 1.5rem;
}
.page--home .section--testimonial .wrapper__con .hm-st-c-box__info img {
  width: 50px;
  height: 50px;
  border-radius: 55px;
  margin-bottom: 10px;
}
.page--home .section--testimonial .wrapper__con .hm-st-c-box__info h4 {
  font-size: 16px;
  font-weight: 700;
  color: #1E1E1E;
  margin-bottom: 3px;
}
.page--home .section--testimonial .wrapper__con .hm-st-c-box__info p {
  color: #1E1E1E;
}
@media (max-width: 792px) {
  .page--home .section--testimonial .wrapper__con {
    flex-direction: column;
  }
}
.page--home .section--testimonial .wrapper .gbtns-bot {
  margin-top: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}
.page--home .section--testimonial .wrapper .gbtns-bot button {
  background-color: #8D913A;
  border-radius: 65px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  opacity: 0.8;
}

.page--about-us .section--hero {
  padding-top: 112px;
  padding-inline: 1rem;
  max-width: 1350px;
  margin: 0 auto;
  position: relative;
  overflow: hidden !important;
}
.page--about-us .section--hero__detail {
  position: relative;
  z-index: 2;
}
.page--about-us .section--hero__detail h1 {
  max-width: 760px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.page--about-us .section--hero__detail p {
  max-width: 760px;
  text-align: center;
  margin: 0 auto;
}
.page--about-us .section--hero__images {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 410px;
  gap: 1.3rem;
}
.page--about-us .section--hero__images img {
  border-radius: 20px;
}
.page--about-us .section--hero__images__img1 img {
  width: 100%;
  height: 530px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 692px) {
  .page--about-us .section--hero__images__img1 img {
    height: auto;
  }
}
.page--about-us .section--hero__images__img2 img {
  width: 410px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 992px) {
  .page--about-us .section--hero__images__img2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  .page--about-us .section--hero__images__img2 img {
    width: 100%;
  }
}
@media (max-width: 692px) {
  .page--about-us .section--hero__images__img2 {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
}
@media (max-width: 992px) {
  .page--about-us .section--hero__images {
    grid-template-columns: 1fr;
  }
}
.page--about-us .section--hero .vector-abt {
  position: absolute;
  left: -5rem;
  top: -12rem;
}
@media (max-width: 992px) {
  .page--about-us .section--hero .vector-abt {
    display: none;
  }
}
.page--about-us .section--partners {
  max-width: 1350px;
  height: 286px;
  margin: 0 auto;
  padding: 100px 64px 120px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page--about-us .section--partners p {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.page--about-us .section--partners .logos {
  padding: 10px 1.5rem;
  gap: 3rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.page--about-us .section--partners .logos div {
  max-width: 150px;
}
@media (max-width: 992px) {
  .page--about-us .section--partners .logos div:nth-child(1) {
    display: none;
  }
}
@media (max-width: 892px) {
  .page--about-us .section--partners .logos div:nth-child(2) {
    display: none;
  }
}
@media (max-width: 492px) {
  .page--about-us .section--partners .logos {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .page--about-us .section--partners {
    padding: 24px;
    padding-block: 64px;
    padding-bottom: 20px;
  }
}
@media (max-width: 492px) {
  .page--about-us .section--partners {
    height: auto;
  }
}
.page--about-us .section--about-hiw {
  width: 100%;
  background-color: #FDFAFA;
  padding: 112px 0;
}
.page--about-us .section--about-hiw .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.page--about-us .section--about-hiw .wrapper .pa-s--ahiw-detail h2, .page--about-us .section--about-hiw .wrapper .pa-s--ahiw-detail p {
  color: #1E1E1E;
}
.page--about-us .section--about-hiw .wrapper .pa-s--ahiw-detail p {
  max-width: 720px;
}
.page--about-us .section--about-hiw .wrapper .pa-s--ahiw-imagee {
  max-width: 500px;
}
@media (max-width: 992px) {
  .page--about-us .section--about-hiw .wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
  }
}
@media (max-width: 992px) {
  .page--about-us .section--about-hiw .wrapper .mt-4 {
    align-items: flex-start;
  }
}
.page--about-us .section--we-offer {
  padding: 112px 0;
}
.page--about-us .section--we-offer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.page--about-us .section--we-offer .wrapper .ab-s-wo-image {
  max-width: 500px;
}
.page--about-us .section--we-offer .wrapper .ab-s-wo-image img {
  margin-top: -1.8rem;
}
@media (max-width: 992px) {
  .page--about-us .section--we-offer .wrapper .ab-s-wo-image {
    display: none;
  }
}
.page--about-us .section--we-offer .wrapper .ab-s-wo-detail h2 {
  margin-bottom: 2.6rem;
}
.page--about-us .section--we-offer .wrapper .ab-s-wo-detail .pa-swwd--c-detail {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.page--about-us .section--we-offer .wrapper .ab-s-wo-detail .pa-swwd--c-detail .pa-swwd--c-detail-box {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.page--about-us .section--we-offer .wrapper .ab-s-wo-detail .pa-swwd--c-detail .pa-swwd--c-detail-box .pa-icon-box {
  min-width: 50px;
  min-height: 50px;
  border-radius: 6px;
  background-color: #8D913A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page--about-us .section--we-offer .wrapper .ab-s-wo-detail .pa-swwd--c-detail .pa-swwd--c-detail-box__detail h3 {
  max-width: 500px;
}
.page--about-us .section--we-offer .wrapper .ab-s-wo-detail .pa-swwd--c-detail .pa-swwd--c-detail-box__detail p {
  max-width: 562px;
}
@media (max-width: 992px) {
  .page--about-us .section--we-offer .wrapper .ab-s-wo-detail .pa-swwd--c-detail .pa-swwd--c-detail-box__detail h3, .page--about-us .section--we-offer .wrapper .ab-s-wo-detail .pa-swwd--c-detail .pa-swwd--c-detail-box__detail p {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .page--about-us .section--we-offer .wrapper .ab-s-wo-detail .pa-swwd--c-detail .pa-swwd--c-detail-box {
    gap: 1rem;
  }
}
@media (max-width: 992px) {
  .page--about-us .section--we-offer .wrapper {
    flex-direction: column;
  }
}
.page--about-us .section--testimonial {
  width: 100%;
  position: relative;
}
.page--about-us .section--testimonial .pabt-st-main {
  max-width: 1350px;
  margin: 0 auto;
  padding: 112px 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page--about-us .section--testimonial .pabt-st-main--stars {
  display: flex;
  margin-bottom: 32px;
  gap: 1px;
}
.page--about-us .section--testimonial .pabt-st-main--quote {
  max-width: 790px !important;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.page--about-us .section--testimonial .pabt-st-main--testi {
  display: flex;
  gap: 1.2rem;
  margin-top: 18px;
}
.page--about-us .section--testimonial .pabt-st-main--testi img {
  width: 54px;
  height: 54px;
  border-radius: 60px;
  object-fit: cover;
  object-position: center;
}
.page--about-us .section--testimonial .pabt-st-main--testi__txt p {
  font-size: 16px !important;
  font-weight: 600 !important;
}
.page--about-us .section--testimonial .pabt-st-main--testi__txt p, .page--about-us .section--testimonial .pabt-st-main--testi__txt span {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #1E1E1E;
}
.page--about-us .section--testimonial .pabt-st-main .ap-s-t-vec {
  position: absolute;
  left: -40rem;
  bottom: -11rem;
  z-index: -1;
}
@media (max-width: 492px) {
  .page--about-us .section--testimonial .pabt-st-main .ap-s-t-vec {
    left: -10rem;
    bottom: -1rem;
  }
}
@media (max-width: 592px) {
  .page--about-us .section--testimonial .pabt-st-main {
    height: auto !important;
  }
}
.page--about-us .section--mis-vis {
  width: 100%;
  height: 100%;
  padding: 112px 0rem;
  background-image: url("../../images/image-3.png");
  background-position: center;
  background-size: cover;
}
.page--about-us .section--mis-vis .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page--about-us .section--mis-vis .wrapper h2 {
  color: #FFFFFF;
  font-weight: 700;
  text-align: center3;
}
.page--about-us .section--mis-vis .wrapper .section--mis-vis-con {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.page--about-us .section--mis-vis .wrapper .section--mis-vis-con .pa-s-m-v-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 35px;
}
.page--about-us .section--mis-vis .wrapper .section--mis-vis-con .pa-s-m-v-c img {
  width: 50px;
}
.page--about-us .section--mis-vis .wrapper .section--mis-vis-con .pa-s-m-v-c h3, .page--about-us .section--mis-vis .wrapper .section--mis-vis-con .pa-s-m-v-c p {
  color: #1E1E1E;
}
.page--about-us .section--mis-vis .wrapper .section--mis-vis-con .pa-s-m-v-c p {
  max-width: 550px;
  line-height: 150%;
  font-size: 20px !important;
  text-align: justify;
}
@media (max-width: 792px) {
  .page--about-us .section--mis-vis .wrapper .section--mis-vis-con {
    flex-direction: column;
  }
}

.page--services .section--hero {
  width: 100%;
  height: 33rem;
}

.page--blogs .section--hero {
  width: 100%;
  background-color: #F9F5EC;
}
.page--blogs .section--hero__main {
  max-width: 1350px;
  margin: 0 auto;
  position: relative;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  z-index: 2;
}
.page--blogs .section--hero__main .img-hero-pserv {
  position: absolute;
  left: -1.3rem;
  bottom: 0;
  max-width: 500px;
}
.page--blogs .section--hero__main .blck {
  min-width: 450px;
}
@media (max-width: 992px) {
  .page--blogs .section--hero__main .blck {
    display: none;
  }
}
.page--blogs .section--hero__main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 1rem;
}
.page--blogs .section--hero__main div h1, .page--blogs .section--hero__main div p {
  max-width: 760px;
}
.page--blogs .section--hero__main div h1 {
  margin-top: 1rem;
}
@media (max-width: 492px) {
  .page--blogs .section--hero__main div h1 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .page--blogs .section--hero__main .img-hero-pserv {
    position: static;
  }
  .page--blogs .section--hero__main div {
    padding-bottom: 10px;
  }
  .page--blogs .section--hero__main div h1, .page--blogs .section--hero__main div p {
    text-align: center;
  }
  .page--blogs .section--hero__main div h1 {
    margin-bottom: 1.3rem;
  }
  .page--blogs .section--hero__main {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 522px) {
  .page--blogs .section--hero__main .img-hero-pserv {
    width: 100%;
  }
}
.page--blogs .section--hero__main .serv-vec {
  position: absolute;
  left: -13rem;
  bottom: -12rem;
  z-index: -1;
}
.page--blogs .section--list {
  max-width: 1350px;
  margin: 0 auto;
  padding: 112px 1rem;
  display: flex;
  gap: 3.5rem;
}
.page--blogs .section--list .pb-side-bar {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav {
  padding: 25px 0;
  border-block: 1px solid #D9D9D9;
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav h4 {
  font-size: 22px;
  font-weight: 600;
  color: #1E1E1E;
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav .pb-side-bar-nav-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-top: 1.6rem;
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav .pb-side-bar-nav-list__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav .pb-side-bar-nav-list__box p {
  margin: 0;
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav .pb-side-bar-nav-list__box .pb-s-b-nl-b-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav .pb-side-bar-nav-list__box .pb-s-b-nl-b-label input[type=checkbox] {
  position: relative;
  width: 13px;
  height: 13px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #1E1E1E;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav .pb-side-bar-nav-list__box .pb-s-b-nl-b-label input[type=checkbox]::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2px;
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav .pb-side-bar-nav-list__box .pb-s-b-nl-b-label input[type=checkbox]:checked {
  border-color: #8D913A;
  background-color: #8D913A;
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav .pb-side-bar-nav-list__box .pb-s-b-nl-b-label input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #8D913A;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav .pb-side-bar-nav-list__box .pb-active-post {
  font-size: 12px;
  color: hsla(43, 64%, 2%, 0.6);
}
.page--blogs .section--list .pb-side-bar .pb-side-bar-nav .pb-side-bar-nav-list__box .pb-active-post span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #34C759;
  margin-bottom: 2px;
  margin-right: 2px;
}
.page--blogs .section--list .pb-side-bar a {
  max-width: 100%;
}
.page--blogs .section--list .pb-side-bar a img {
  width: 100%;
}
.page--blogs .section--list .pb-listing-con {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.page--blogs .section--list .pb-listing-con .pb-lc-box {
  border-radius: 12px;
  overflow: hidden;
}
.page--blogs .section--list .pb-listing-con .pb-lc-box__image {
  height: 245px;
  position: relative;
}
.page--blogs .section--list .pb-listing-con .pb-lc-box__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.page--blogs .section--list .pb-listing-con .pb-lc-box__image .pb-blog-cat {
  position: absolute;
  bottom: 0.7rem;
  left: 0.7rem;
  padding: 8px 1rem;
  background-color: #F5FFA1;
  color: #8D913A;
  font-size: 14px;
  border-radius: 7px;
}
.page--blogs .section--list .pb-listing-con .pb-lc-box__details h3, .page--blogs .section--list .pb-listing-con .pb-lc-box__details p {
  color: #1E1E1E;
}
.page--blogs .section--list .pb-listing-con .pb-lc-box__details h3 {
  font-size: 20px !important;
  font-weight: 600;
  line-height: 110%;
}
.page--blogs .section--list .pb-listing-con .pb-lc-box__details p {
  line-height: 140%;
}
.page--blogs .section--list .pb-listing-con .pb-lc-box__details a {
  color: #8D913A;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
