@use "typography" as *;
@use "color" as *;

.btn {
    // min-width: 150px;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 25px;
    text-transform: capitalize;
    border: 1px solid $color-primary;
    border-radius: 8px;
    transition: .3s;
    &--primary {
        background-color: $color-primary;
        color: $color-white;
        font-weight: 500;
        &:hover {
            opacity: .85;
            color: $color-white;
        }
    }

    &--secondary {
        color: $color-primary !important;
        background-color: $color-white;
        &:hover {
            opacity: .85;
            color: $color-primary !important;
        }
    }


}