@use "color" as *;
@use "typography" as *;

footer {
    width: 100%;
    // height: 30rem;

    .foo--main{
        max-width: 1350px;
        margin: 0 auto;
        padding-inline: 1rem;
        padding-block: 80px;
        
        display: grid;
        grid-template-columns: 1fr 15% 17% 15%;
        gap: 2rem;

        .abt-us-foo{ 
            h4{
                font-size: 20px;
                color: $color-dark;
                font-weight: 700;
                margin-bottom: 1.2rem;
            }
            &__txt{
                font-size: 14px;
                max-width: 520px;
                line-height: 130%;
                color: #535353;
            }
            &__inputs{
                display: flex;
                gap: .5rem;
                margin-top: 2rem;
                input{
                    width: 190px;
                }
                button{
                    font-weight: 400 !important;
                }
            }
            @media (max-width: 992px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &__txt{
                    max-width: 620px;
                    text-align: center;
                }
                &__inputs{
                    margin-top: 5px;
                    margin-bottom: 2rem;
                }
            }
        }
        .general-links{
            h4{
                font-size: 20px;
                color: $color-dark;
                font-weight: 700;
                margin-bottom: 1.2rem;
            } 
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;

                li{
                    a{
                        color: #535353;
                        font-size: 14px;
                        &:hover{
                            color: $color-primary;
                        }
                    }
                }
            }
            @media (max-width: 992px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                ul{
                    align-items: center;
                    justify-content: center;

                    li{
                        a{
                            text-align: center;
                        }
                    }
                }
            }
        }
        @media (max-width: 992px) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }


    .foo--bot{
        width: 100%;
        background-color: $color-primary;
        // height: 150px;
        padding-bottom: 1.5rem;
        padding-inline: 1rem;

        .foo--bot-social{
            max-width: 1350px;
            margin: 0 auto;
            padding: 30px 0rem 12px 0rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $color-soft-white;

            img{

            }

            &__box{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .8rem;
            }
        }
        &__copyright{
            text-align: center;
            font-size: 14px;
            color: $color-white;
            padding-top: 1.5rem;
        }
    }
}