@use "color" as *;
@use "typography" as *;

header {
    z-index: 999;
    position: sticky;
    // margin-top: 55px;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray;
    .wrapper{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-between;
        .main-logo{
            // background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            // background-color: rebeccapurple;
            a{
                img{
                    width: 55px;
                    height: 55px;
                }
            }
            .line-hh{
                width: 1px;
                height:75%;
                background-color: $color-gray;
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 32px;
                margin: 0;

                li{
                    a{
                        color: $color-dark;
                        font-size: 15px;
                        font-family: $font-primary;
                        font-weight: 400;
                        text-decoration: none;
                        &:hover{
                            color: $color-primary;

                        }
                    }
                }
            }
        }

    }

    .right {
        text-align: right;
        .btn {
            display: inline-block;
            margin-left: 8px;
            @media(max-width:1280px) {
                font-size: 14px;
            }
        }
    }
  
}