@use "../component/typography" as *;
@use "../component/color" as *;

.page--pricing{
    .section{
        &--hero{
            width: 100%;
            // height: 30rem;
            padding: 112px 1rem;
            max-width: 1350px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;
            //background-color: antiquewhite;

            .pp-sh-info{
                h1{
                    max-width: 760px;
                    color: $color-dark;
                    margin-bottom: 1.2rem;
                }
                p{
                    max-width: 700px;
                    line-height: 150%;
                    color: $color-dark;
                }
            }
            .pp-sh-view{
                min-width: 350px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                &__top{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    .pp-sh-v-clients{
                        display: flex;
                        
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 55px;
                            margin-left: -.85rem;
                            @media (max-width: 492px) {
                                width: 45px;
                                height: 45px;
                            }
                        }
                    }
                    .pp-sh-v-ratings{
                        padding-top: 2px;
                        p{
                            margin-bottom: 2px;
                        }
                        &__num{
                            display: flex;
                            font-weight: 700;
                            color: $color-dark;
                        }
                        &__txt{
                            @media (max-width: 492px) {
                                font-size: 14px;
                            }
                        }
                    }
                    @media (max-width: 492px) {
                        flex-direction: column;
                        align-items: center;
                    }
                }
                &__bot{
                    border: 1px solid $color-primary;
                    border-radius: 12px;
                    overflow: hidden;
                    display: flex;
                    background-color: $color-primary;
                    .prc-btn{
                        width: 115px;
                        height: 50px;
                        background-color: $color-white;
                        font-size: 15px;
                        font-weight: 500;
                        font-family: $font-primary;
                        outline: none;
                    }

                    .btn-prc-active{
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }
                @media (max-width: 592px) {
                    align-items: center;
                    min-width: 100%;
                }
            }
            @media (max-width: 892px) {
                flex-direction: column;
                .pp-sh-view{
                    row-gap: 1.5rem;
                }
            }
        }
        &--cards{
            max-width: 1350px;
            margin: 0 auto;
            padding: 0px 1rem 112px 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;

            .pp-c-card{
                border: 1px solid $color-primary;
                border-radius: 8px;
                padding: 25px;
                width: 100%;
                // height: 500px;

                &--head{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    &--top{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 10px;
                        div{
                            margin-right: 1rem;
                            border-radius: 55px;
                            min-width: 45px;
                            min-height: 45px;
                            background-color: $color-primary;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            img{
                                min-width: 20px;
                                min-height: 20px;
                            }
                        }
                        h3{
                            font-weight: 700;
                            margin: 0;
                        }
                    }
                    p{
                        font-size: 16px;
                        font-weight: 500;
                        max-width: 320px;
                    }
                }
                &--price{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 30px 0;
                    padding-bottom: 40px;

                    h2{
                        font-weight: 500;
                        margin-bottom: 4px;
                        font-weight: 600;
                        font-family: $font-primary;
                    }
                    p{
                        font-size: 14px;
                        margin: 0;
                        color: hsla(0, 0%, 0%, 0.5);
                    }
                }
                button{
                    width: 100%;
                    height: 45px;
                    font-size: 15px;
                    font-weight:600;
                    color: $color-white;
                    background-color: $color-primary;
                    border-radius: 8px;
                }
                .active-prc-btn{
                    background-color: hsla(67, 44%, 88%, 0.5) !important;
                    color: $color-dark !important;
                }
                &--features{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 1.8rem;
                    h4{
                        font-size: 16px;
                        font-weight: 700;
                        color: $color-dark;
                        margin-bottom: 1rem;
                    }
                    .feature-prc-box{
                        display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        margin-bottom: .8rem;
                        img{
                            margin-top: 1px;
                        }
                        p{
                            margin: 0;
                            max-width: 320px;
                            font-size: 16px;
                        }
                    }
                }
            }
            @media (max-width: 992px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 692px) {
                grid-template-columns: 1fr;
            }
        }
    }
}