@use "../component/typography" as *;
@use "../component/color" as *;

.page--services{
   .section{
      &--hero{
         width: 100%;
         background-color: #F9F5EC;

         &__main{
            max-width: 1350px;
            // height: 435px;
            margin: 0 auto;
            position: relative;
            display: flex;
            gap: 2rem;
            overflow: hidden;
            z-index: 2;

            .img-hero-pserv{
               position: absolute;
               left: -1.3rem;
               bottom: 0;
               max-width: 500px;
            }
            .blck{
               min-width: 450px;
               @media (max-width: 992px) {
                  display: none;
               }
            }
            div{
               display: flex;
               flex-direction: column;
               justify-content: center;
               padding: 100px 1rem;

               h1, p{
                  max-width: 760px;
               }
               h1{
                  margin-top: 1rem;
                  @media (max-width: 492px) {
                     font-size: 40px;
                  }
               }
            }
            @media (max-width: 992px) {
               .img-hero-pserv{
                  position: static;
               }
               div{
                  padding-bottom: 10px;
                  h1, p{
                     text-align: center;
                  }
                  h1{
                     margin-bottom: 1.3rem;
                  }
               }
               height: auto;
               flex-direction: column-reverse;
               align-items: center;
            }
            @media (max-width: 522px) {
               .img-hero-pserv{
                  width: 100%;
               }
            }
            .serv-vec{
               position: absolute;
               left: -13rem;
               bottom: -12rem;
               z-index: -1;
            }
         }

      }
      &--services-list{
         max-width: 1350px;
         margin: 0 auto;
         // height: 50rem;
         background-color: #ffffff;
         padding: 112px 1rem;

         &__header{
            max-width: 610px;
         }
         &__label{
            max-width: 760px;
         }
         .ps-ss-lb-con{
            width: 100%;
            //background-color: #242424;
            gap: 48px;
            margin-top: 4rem;
            justify-content: space-between;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            &--box{
               padding: 32px 24px;
               // max-width: 400px;
               background-color: hsla(66, 77%, 35%, 0.6);
               border-radius: 20px;
               // height: fit-content;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               color: $color-white;
               text-decoration: none;
               transition: .3s ease;
               h3{
                  font-weight: 500;
               }
               img{
                  border-radius: 20px;
                  width: 100%;
                  max-width: 350px;
               }
               &:hover{
                  background-color: $color-primary;
               }
            }
            @media (max-width: 992px) {
               grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 692px) {
               grid-template-columns: 1fr;
               gap: 20px;

               &--box{
                  img{
                     max-width: 692px;
                  }
               }
            }
         }

      }
      &--partner-us{
         width: 100%;
         padding: 112px 1rem;
         display: flex;
         flex-direction: column;
         align-items: center;
         background-color: $color-soft-white;
         overflow: hidden;
         h2{
            text-align: center;
            max-width: 545px;
            color: $color-dark;
            position: relative;
            z-index: 2;
            margin-bottom: 1.4rem;
         }
         p{
            max-width: 870px;
            text-align: center;
            color: $color-dark;
            position: relative;
            z-index: 2;
         }
         &__con{
            margin-top: 2rem;
            display: grid;
            max-width: 850px;
            grid-template-columns: auto auto;
            row-gap: 1.6rem;
            position: relative;
            .ps-pu-c-box{
               position: relative;
               z-index: 2;
               padding: 4px;
               display: flex;
               align-items: flex-start;
               justify-content: flex-start;
               gap: 11px;
               svg{
                  margin-top: 2px;
               }
               p{
                  margin: 0;
                  // max-width: 370px;
                  text-align: left;
               }
            }
            &__vec{
               position: absolute;
               left: -11rem;
               top: -23rem;
               z-index: 1;
            }
            @media (max-width: 592px) {
               grid-template-columns: 1fr;
            }
         }
      }
   }
}