@use "../component/typography" as *;
@use "../component/color" as *;

.page--service-detail{
   .section{
        &--hero{
            width: 100%;
            height: 455px;
            
            background-image: url('../../images/service-img-detail.png');
            background-position: 20% 0%;
            background-size: cover;
            background-attachment: fixed;
        }
        &--mdetail{
            max-width: 1350px;
            // height: 55rem;
            margin: 0 auto;
            padding: 112px 1rem;
            display: flex;
            gap: 2.6rem;
            .psd-md-content{
                width: 100%;
                // height: 22rem;
                //background-color: rgb(238, 176, 176);  
             
                h2{
                    font-weight: 700;
                    color: $color-primary;
                }
                .psd-highlighted{
                    width: 100%;
                    padding: 30px;
                    border-left: 4px solid $color-primary;
                    background-color: hsla(67, 44%, 88%, 0.5);
                }
                ul{
                    margin-block: 2rem;
                    margin-top: 1rem;
                    padding-left: 1.1rem;
                    li{
                        list-style: disc;
                    }
                }
                img{
                    border-radius: 12px;
                }
            }
            .psd-md-side{
                min-width: 345px;
                // height: 20rem;
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                &--link{
                    background-color: $color-soft-white;
                    padding: 20px;
                    border-radius: 12px;
                    // height: 22rem;

                    .psd-md-sl-link{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        margin-top: 1.6rem;
                        a{
                            padding: 12px;
                            border: 2px solid $color-primary;
                            border-radius: 5px;
                            background-color: hsla(67, 44%, 88%, 0.5);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 1rem;
                            text-decoration: none;
                            h4{
                                font-size: 16px;
                                font-weight: 600;
                                color: $color-dark;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                a{
                    @media (max-width: 892px) {
                        display: none;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
            @media (max-width: 892px) {
                flex-direction: column;
            }
        }
    }
}